
body {
    background-color: #ffffff;
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 100% 80%;
    box-sizing: border-box;
    margin: 0;
  }

.header{
    height: 25%;
    display: flex;
    align-content: flex-end;
    padding: 15px;

}

.content{
   
    width: 1450px;
    height: 750px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 130px;
    opacity: 1;
    padding:15px;
    margin-left: 15px;
    margin-right: 15px;
}

.shape1{
    
    width: 300px;
    height: 45px;
    background: #3D4F68 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 42px 154px;
    opacity: 1;
}

#shape1_text{  
    text-align: center;
    font-family: Segoe UI;
    font-size: medium;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#search{
    
    width: 1300px;
    height: 68px;
    text-align: left;
    font: normal normal bold 32px Segoe UI;
    letter-spacing: 0px;
    color: #C69C9C;
    margin-left: 55px;
    margin-top: 55px;
    padding-left: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 94px;
    opacity: 1;

}


.shape2{  
    width: 597px;
    height: 80px;
    background: #F04F4F 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 66px;
    opacity: 1;
    margin-left: 28%;
    margin-top: 25px;
    margin-right: 25%;
    text-align: center;
    font: normal normal normal  Trebuchet MS;
    font-size:65px;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.footer{
    
    width: 100%;
    height: 100px;
    background: #3D4F68;
    border: 1px solid #707070;
    opacity: 1;
    margin-top: 35px;
    text-align: center;
    font: normal normal bold 25px Segoe UI;
    letter-spacing: 0px;
    color: #EECCCC;
}


.round{
    
width: 170px;
height: 170px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
align-self: center;
border-radius: 146px;
opacity: 1;
}

.shape3{
    width: 280px;
    height: 380px;
    background: #EECCCC 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-left: 25px;
    margin-right: 25px;
    align-content: center;
    padding: 10px;
    transition: background-color 0.5s ease-out 100ms
}

.shape3:hover {
    background-color: #0c0b0c;
  }



#imgs{
    height: 180px;
    width: 280px;
    background: no-repeat padding-box;
    border-radius: 75px;
}

.cluster {
    display: flex;
    align-content: flex-end;
    padding: 15px;
}

.news{
    width: 100%;
    height: 25px;
    margin-top: 22px;
    background: #F3F5C5 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
text-align: center;
font: normal normal normal 20px Trebuchet MS;
letter-spacing: 0px;
color: #FF0000;
opacity: 1;
}

.textbox{
width: 250px;
height: 180px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
padding: 8px;
padding-top: 10px;
text-align: center;
font: normal normal bold 14px Segoe UI;
letter-spacing: 0px;
color: #000000;
}

#button_green{
width: 155px;
height: 38px;
background: #7FB80D 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 19px;
opacity: 1;
text-align: center;
font: normal normal bold 13px Segoe UI;
letter-spacing: 0px;
color: #FFFFFF;
cursor: pointer;
transition: 0.5s;

}

    
  
#credits{
    text-align: center;
font: normal normal bold 12px Segoe UI;
letter-spacing: 0px;
color: #EECCCC;
opacity: 1;
}

#home_icon{
    display: block;
    margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
    height :65%;
    width :65%;
}
